.main {
  &__list {
    &__button {
      display: inline-block;
      padding: 15px;
      text-decoration: none;
      background-color: black;
      color: white;
      border-radius: 5px;

      margin: 20px 0;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }
}
