.main {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  &__link {
    text-decoration: none;
    color: black;
    transition:
      transform 2s,
      color 2s;

    &:hover {
      transform: scale(1.1);
      color: rgb(118, 118, 118);
    }
  }

  &__title {
    text-align: left;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 5px;

      &__image {
        height: 100px;
        width: 100px;
      }

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
      }
    }
  }
}
